<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Welcome!</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		
        {% include 'header.html' %}
		<script type="text/javascript">
			jQuery(document).ready(function () { 

			});
		</script>
    </head>
	<body>
		<div id="wrapper">
			<div id="inner-wrapper">
				{% include 'header-et-nav.html' %}
				<div id="content" class="site-content" tabindex="-1">
					<div class="col-full">
						<div class="primary" class="content-area">
							<section id="main" class="site-main" role="main">
								<h2 class="page-title">{{ article.titre }}</h2>
								<div class="article-container">

										<div class="article article-consulte">
                                            
                                            <img src="{{ article.image }}" class="attachment-shop_catalog wp-post-image" alt="poster_2_up" height="300"/>
                                            
                                            <div class="infos-article">
                                                <h3 class="titre-article">{{ article.titre }}</h3> 
                                                <p class="description-article">{{ article.description }}</p>
                                                <p class="type-article">{{ article.type }}</p>
												
												<p class="price amount">{{ article.prix }} €</p>
												<form action="/ajouterLigne?refArticle={{ article.refArticle }}" name="form-tailles" method="post">
												<label for="tailles-article">Tailles:</label>
												<select name="tailles" id="tailles-article">
													{% for taille in article.tailles %}
														<option value="{{ taille.nomTaille }}">{{ taille.nomTaille }}</option>
													{% endfor %}
												</select>
												<input class="button add_to_cart_button product_type_simple"
													type="submit" value="Mettre dans le panier" name="update_cart" /></td>
												</form>

                                            </div>
                                        </div>
											
							
								</ul>
							</section>
						</div>
					</div>
				</div>
        {% include 'footer.html' %}
			</div>
		</div>
	</body>
</html>