<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Welcome!</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% include 'header.html' %}
    </head>
	<body>
		<div id="wrapper">
			<div id="inner-wrapper">
        {% include 'header-et-nav.html' %}

        <div class="commande-passee">
            <p>Merci d'avoir passé commande !</p>
            <a href="/consulterCommandes"class="checkout-button button alt wc-forward">Consulter mes commandes</a>
        </div>
         
               
           
        {% include 'footer.html' %}
			</div>
		</div>
	</body>
</html>
