<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Welcome!</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% include 'header.html' %}
    </head>
	<body>
		<div id="wrapper">
			<div id="inner-wrapper">
			{% include 'header-et-nav.html' %}
				<div id="content" class="site-content" tabindex="-1">
					<div class="col-full">
						<div class="primary" class="content-area">
							<section id="main" class="site-main" role="main">
								<h2 class="page-title">Liste des commandes</h2>
       
                                    <div class="liste-commandes">
                                    {% for commande in commandes %}
                                        <div class="commande">
                                            <p> <span>N° de commande</span> : {{commande.idCommande}}</p>
                                            <p> <span>Date et heure de commande</span> : {{commande.dateCommande}}</p>
                                            <p> <span>Date de livraison estimée</span> : {{commande.dateLivraison}}</p>
                                            <p> <span>Adresse de livraison</span> : {{commande.adresse}} {{commande.codePostal}} {{commande.ville}}</p>
                                            <p> <span>Etat</span> : {{commande.etat}}</p>
                                        </div>
                                    {% endfor %}
                                    </div>
        
        
            
                            </section>
						</div>
					</div>
				</div>
        {% include 'footer.html' %}
			</div>
		</div>
	</body>
</html>
