<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% include 'header.html' %}
    </head>
    <body>
        <div id="wrapper">
			<div id="inner-wrapper">
			{% include 'header-et-nav.html' %}
				<div id="content" class="site-content" tabindex="-1">
					<div class="col-full">
						<div class="primary" class="content-area">
							<section id="main" class="site-main" role="main">
								<h2 class="page-title">Veuillez remplir le formulaire :</h2>
                                {{form(form)}}
                            </section>
						</div>
					</div>
				</div>
                {% include 'footer.html' %}
			</div>
		</div>
    </body>
</html>