<link rel="stylesheet" href="/css/style.css" type="text/css" />
<link rel="stylesheet" href="/css/moncss.css" type="text/css" />
<style id='storefront-style-inline-css' type='text/css'>
			table.cart td.product-remove,
			table.cart td.actions {
				border-top-color: #ffffff;
			}
</style>
<script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>