<header id="header" class="col-full">
    <div id="logo">
        <h1 class="site-title">La boutique</h1>
    </div>
</header>
<nav id="navigation" class="col-full" role="navigation">
    <ul id="main-nav" class="nav fl">
        <li id="menu-item-290"
            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item">
            <a href="/afficheRecherche" class="menu-link">Rechercher
                un article</a>
        </li>
        <li id="menu-item-290"
            class="menu-item menu-item-type-custom menu-item-object-custom">
            <a href="/accederAuPanier" class="menu-link">Panier</a>
        </li>
        <li id="menu-item-290"
            class="menu-item menu-item-type-custom menu-item-object-custom">
            <a href="/consulterCommandes" class="menu-link">Mes commandes</a>
        </li>
    </ul>
</nav>