<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Welcome!</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% include 'header.html' %}
    </head>
	<body>
		<div id="wrapper">
			<div id="inner-wrapper">
				{% include 'header-et-nav.html' %}
				<div id="content" class="col-full">
					<div id="main-sidebar-container">
						<header>
							<h1 class="title entry-title">Panier</h1>
						</header>
						<div class="woocommerce">
							<section class="entry">
								<p class="cart-empty">Votre panier est vide.</p>
							</section>
						</div>
					</div>
				</div>
        {% include 'footer.html' %}
			</div>
		</div>
	</body>
</html>
