<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Welcome!</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		
        {% include 'header.html' %}
		<script type="text/javascript">
			jQuery(document).ready(function () { 

			});
		</script>
    </head>
	<body>
		<div id="wrapper">
			<div id="inner-wrapper">
			{% include 'header-et-nav.html' %}
				<div id="content" class="site-content" tabindex="-1">
					<div class="col-full">
						<div class="primary" class="content-area">
							<section id="main" class="site-main" role="main">
								<h2 class="page-title">Résultats de la recherche</h2>
								<ul class="products articles">
									{% for article in articles %}

										<li class="product type-product article">
											<a href="/consulterArticle?refArticle={{ article.refArticle }}"> 
												<img src="{{ article.image }}" class="attachment-shop_catalog wp-post-image" alt="poster_2_up" height="300"/>
											</a> 
											<div class="infos-article">
												<h3>{{ article.titre }}</h3> 
												<p class="price amount">{{ article.prix }} €</p>
												<form action="/ajouterLigne?refArticle={{ article.refArticle }}" name="form-tailles" method="post">
												<select name="tailles" id="tailles-article">
													{% for taille in article.tailles %}
														<option value="{{ taille.nomTaille }}">{{ taille.nomTaille }}</option>
													{% endfor %}
												</select>
												<input class="button add_to_cart_button product_type_simple"
													type="submit" value="Mettre dans le panier" name="update_cart" /></td>
												</form>
											</div>
										</li>
											
									{% endfor %}
								</ul>
							</section>
						</div>
					</div>
				</div>
        {% include 'footer.html' %}
			</div>
		</div>
	</body>
</html>
