
/*--------------------------- GENERAL -------------------------*/

*{
    padding:0;
    margin:0;
    text-decoration: none;
    
}
body{
    width:100%;
    height:100%;
    margin: auto;
    background-color: rgb(27, 27, 27);
    
}
@font-face {
    font-family: Bebas;
    src: url("../fonts/BebasNeue-Regular.woff2");
}

input{
    color:black;
    
}

h2{
    margin:20px 0;
}

#logo .site-title{
    
    font-family:century;
    text-align: center;
    color:#5c8a62;
    margin:auto;
    font-family: Bebas;
    font-size:4em;
    
}

#logo{
    float:initial;

}
p,a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#content{
    width:80vw;
    margin: auto;
}

.page-title, .entry h2{
    color:white;
    font-family: Bebas;
}


/*--------------------------- MENU DE NAVIGATION -------------------------*/
header{
    width:100%;
    background-color: transparent;
    padding:20px 0px;
}

#main-nav{
    width:100%;

    background-color: rgb(47, 47, 47);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    align-content: center;
}

.menu-item{
    padding:20px;
    height: 100%;
    text-align: center;
    list-style: none;
    
}

#navigation ul.nav > li:hover, #navigation ul.nav > li a:hover{
    background-color: rgb(54, 54, 54);
}

.menu-item:first-child{
    margin-left:30px;
    
    

}

.menu-item:hover{
    background-color: rgb(20,20,20);
}
#main-nav .menu-link{
    color:rgb(204, 204, 204);
}

#main-nav .menu-link:hover{
    color:#6fb478;
   
}

/*--------------------------- AFFICHAGE ARTICLES -------------------------*/

.articles{
    width:100%;

    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    justify-items: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.article{
    width:25%;
    list-style: none;
    background-color: rgb(255, 255, 255);
    height:auto;
    padding:30px;
    margin-bottom: 30px;
    margin-right:30px;
    
}


.article img{
    width:250px;
    object-fit: cover;
    
    
}


.infos-article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.infos-article > *{

    margin:10px 0px;
    
}

.infos-article > h3{

    background-color: #505050;
    color:white;
    padding: 0px 10px;
    
}




select{

    
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: rgb(241, 241, 241);;
    background-image: none;

    border-radius: 5px;
    padding:5px;
}


/*--------------------------- FOOTER-------------------------*/


#footer p{
    color:rgb(90,90,90);
    font-style: italic;
}


/*--------------------------- PANIER -------------------------*/
table{
    background-color:rgb(30,30,30);
    width:100%;
    padding:50px;
    border-radius:15px;
}

form[name=panier], .form-code-promo{
    background-color: transparent;
    width:100%;
    padding:0;
} 
form[name=form-tailles]{
    padding:0;
    display: flex;
    flex-wrap: wrap;


    align-items: center;
    flex-direction: column;
}
form[name=form-tailles]>*:last-child{
    margin-top:20px;

}

.cart-collaterals{
    width:100%;
}
/*--------------------------- CONSULTER UN ARTICLE -------------------------*/
.article-consulte{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-content: space-around;
    width:100%;
    padding:40px 0;
    margin:0;


}

.infos-article > form > label{
    text-align: center;
    margin-bottom:10px;

}


.article-consulte img{
   height: 100%;
   max-width:50%;
   object-fit: cover;
    

}

.article-consulte .infos-article{
    height:100%;
    min-width:50%;
}


/* PROMO */

.alerte{
background-color: white;
font-size:1.5em;
padding:20px;
margin:10px 0;
border-radius: 3px;

}

/*FORMULAIRE*/

form{
    background-color:white;
    padding : 100px 0;

        display: flex;
        justify-content: center;
        width: 100%;
    }

    label {
      display: inline-block;
      width: 100px;
      text-align: right;
     

    }
    #form > div{
        padding:0px 0px 20px 0px;

    }

    #form_valider{
        float:right;
    }

    #content{
        width:100%;
    }

    /*COMMANDE PASSEE*/
    .commande-passee{
        background-color: white;
        width:100%;
        padding: 100px 0px;
        text-align: center;
    }

    .commande-passee p{
        margin-bottom:50px;
        font-size: 2em;
    }
    /*COMMANDES*/

    .commande{
        background-color:white;
        padding:50px;
        margin-bottom:30px;
    }

    .commande span{
        background-color:#5c8a62;
        color:white;
        padding:5px 10px;
        height: 100%;
    }
    .commande p{
        padding:10px 0;
    }